* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

.main-block {
    align-items: center;
    justify-content: space-between;
}

.main-block_img {
    margin: 80px 0;
}

.info_description {
    max-width: 540px;
}

.main-block_info {
    display: flex;
    flex-direction: column;
}

.info_tittle {
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: Tahoma;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.info_tittle>span:nth-child(2) {
    color: #000000;
    font-family: Tahoma;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}

.info_description {
    color: #000000;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 47px;
}

.info_price {
    color: #313131;
    font-family: Tahoma;
    font-size: 48px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 75px;
}

.btn-buy {
    padding: 22px 42px;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    border: none;
    border-radius: 5px;
    background-color: #f05a22;
    cursor: pointer;
}

.btn-more {
    padding: 22px 30px;
    margin-left: 40px;
    color: #f05a22;
    font-family: Tahoma;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid #f05a22;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 90px 0 100px 0;
    background-color: #f2f2f2;
    border: 1px solid #ffffff;
}

.points-block {
    flex-wrap: wrap;
    justify-content: space-between;
}

.points-block_tittle {
    width: 100%;
    margin-bottom: 90px;
    text-align: center;
    color: #333333;
    font-family: Tahoma;
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19%;
}

.items_img {
    margin-bottom: 23px;
}

.poits_descripton {
    text-align: center;
    color: #333333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}